<html>
<head>
  <meta charset="UTF-8"/>
  <link data-require="bootstrap-css@*" data-semver="3.0.0" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="style.css" rel="stylesheet"> -->
<link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="main" ng-controller="DemoCtrl">
  <script data-require="angular.js@*" data-semver="1.2.26" src="https://code.angularjs.org/1.2.26/angular.min.js"></script>
  <script data-require="ng-table@*" data-semver="0.3.3" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>
  <link data-require="ng-table@*" data-semver="0.3.3" href="http://bazalt-cms.com/assets/ng-table/0.3.3/ng-table.css" rel="stylesheet">
  <script type="text/javascript" src="dashboard.js"></script>
  <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
  <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
  <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
  <p><strong>Filter:</strong> {{tableParams.filter()|json}}
  <table class="table" ng-table="tableParams" show-filter="true">
    <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
          <a href="" ng-click="group.$hideRows = !group.$hideRows"><span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span><strong> {{ group.value }} </strong></a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="results in group.data">
        <td data-title="'Scenario'" sortable="scenario" filter="{ 'scenario': 'text' }">
          {{results.scenario}}
        </td>
        <% implementors.each do |implementor| %>
        <td data-title="'<%= implementor %>'" ng-class="{'passed': results.<%= implementor %>.indexOf('Fully Verified') != -1, 'partial': results.<%= implementor %>.indexOf('Partially Verified') != -1, 'failed': results.<%= implementor %>.indexOf('Failed') != -1 }" sortable="<%= implementor %>" filter="{ '<%= implementor %>': 'text' }">
          <a href="details/{{results.slug_prefix}}-<%= implementor %>.html">{{results.<%= implementor %>}}</a>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% implementors.each do |implementor| %>
  <script type="text/ng-template" id="ng-table/filters/<%= implementor %>.html">
      <input type="radio" ng-model="params.filter()[name]" name="filter-<%=implementor%>" value="" /> None
      <br />
      <input type="radio" ng-model="params.filter()[name]" name="filter-<%=implementor%>" value="50" /> 50 years
  </script>
  <% end %>
</body>
</html>
