.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.red { color: red; }
.green { color: green; }
.yellow { color: yellow; }
.blue { color: blue; }
.magenta { color: magenta; }
.white { color: white; }
.bg-red { background-color: red; }
.bg-green { background-color: green; }
.bg-yellow { background-color: yellow; }
.bg-blue { background-color: blue; }
.bg-magenta { background-color: magenta; }
.bg-white { background-color: white; }
.text-reset {
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: normal;
}
div.console > pre {
  background: black;
  color: white;
}
