<html>
<head>
  <meta charset="UTF-8"/>
  <link data-require="bootstrap-css@*" data-semver="3.0.0" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../assets/pygments/<%= options[:code_style] %>.css" rel="stylesheet" type="text/css">
  <link href="../assets/style.css" rel="stylesheet" type="text/css">
  <link href="../assets/angular/json-formatter.min.css" rel="stylesheet" type="text/css">
  <script data-require="angular.js@*" data-semver="1.2.27" src="../assets/angular/angular.min.js"></script>
  <script src="../assets/angular/ui-bootstrap-tpls.min.js"></script>
  <script src="../assets/angular/json-formatter.min.js"></script>
  <script>
  angular.module('details', ['jsonFormatter', 'ui.bootstrap']);
  </script>
  </head>
  <body ng-app="details">
    <div class="panel panel-<%= bootstrap_color(@scenario.status_color) %>">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>
            <%= @scenario.slug %>
            <span class="label pull-right label-<%= bootstrap_color(@scenario.status_color) %>"><%= @scenario.status_description%></span>
          </strong>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><%= status('Test suite:', @scenario.suite) %></li>
          <li class="list-group-item"><%= status('Test scenario:', @scenario.name) %></li>
          <li class="list-group-item"><%= status('Implementor:', @scenario.project.name) %></li>
          <li class="list-group-item"><%= status('Duration:', Crosstest::Util.duration(@scenario.duration)) %></li>
          <li class="list-group-item">
            <strong class="list-group-item-heading">Test Input</strong>
            <% source_file = @scenario.absolute_source_file ? relativize(@scenario.absolute_source_file, Dir.pwd) : '<No code sample>' %>
            <ul class="list-group-item">
              <strong class="list-group-item-heading">Code sample</strong>
              <p class="list-group-item-text">
                <% if @scenario.absolute_source_file %>
<%= @scenario.highlighted_code('html') %>
                <% end %>
              </p>
            </ul>
            <ul class="list-group-item">
              <strong class="list-group-item-heading">Test parameters</strong>
              <tabset>
                <tab heading="Tree">
                  <json-formatter json='<%= as_json(@scenario.vars) %>' open="5"></json-formatter>
                </tab>
                <tab heading="Raw">
                  <pre class="list-group-item-text console">
                    <code>
<%= highlight(@scenario.vars.to_hash.to_yaml, language: 'yaml', formatter: 'html') %>
                    </code>
                  </pre>
                </tab>
              </tabset>
            </ul>
          </li>
          <% if @scenario.result %>
          <li class="list-group-item">
            <strong class="list-group-item-heading">Execution Results</strong>
            <ul class="list-group">`
              <li class="list-group-item">
                <strong class="list-group-item-heading">Validation Results</strong>
                <ul class="list-group">
                  <% @scenario.result.validations.each do |description, result| %>
                  <li class="list-group-item <%= result.result %>">
                    <strong class="list-group-item-heading"><%= description %></strong>
                    <% if result.error %>
                    <div class="list-group-item">
                      <strong class="list-group-item-heading">Error Message</strong>
                      <pre class="list-group-item-text console">
<%= ansi2html(h result.error.to_s) %>
                      </pre>
                    </div>
                    <div class="list-group-item">
                      <strong class="list-group-item-heading">Validator Source</strong>
                      <div class="list-group-item-text">
<%= highlight(result.error_source, language: 'ruby', formatter: 'html') %>
                      </div>
                    </div>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li class="list-group-item">
                <strong class="list-group-item-heading">STDOUT</strong>
                <pre class="list-group-item-text console">
                <% if @scenario.result %>
                  <code>
<%= ansi2html(@scenario.result.execution_result.stdout) %>
                  </code>
                <% end %>
                </pre>
              </li>
              <li class="list-group-item">
                <strong class="list-group-item-heading">STDERR</strong>
                <pre class="list-group-item-text console">
                <% if @scenario.result %>
                  <code>
<%= ansi2html(@scenario.result.execution_result.stderr) %>
                  </code>
                <% end %>
                </p>
              </li>
              <% if @scenario.error %>
              <li class="list-group-item">
                <strong class="list-group-item-heading">Framework Errors</strong>
                <pre class="list-group-item-text console">

                  <code>
<%#= ansi2html(@scenario.error) # I don't think there's any ANSI colors %>
<%= @scenario.error %>
                  </code>
                </pre>
              </li>
              <% end %>
              <% if @scenario.spy_data %>
              <li class="list-group-item">
                <strong class="list-group-item-heading">Spy data</strong>
                <tabset>
                  <tab heading="Tree">
                    <json-formatter json='<%= as_json(@scenario.spy_data) %>' open="5"></json-formatter>
                  </tab>
                  <tab heading="Raw">
                    <pre class="list-group-item-text console">
                      <code>
<%= highlight(@scenario.spy_data.to_hash.to_yaml, language: 'yaml', formatter: 'html') %>
                      </code>
                    </pre>
                  </tab>
                </tabset>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
